<!--For Iter 2-2-->

<h1>Activate your account</h1>

<p>To Activate your <strong>simpaticopup.com </strong> account click the link below:</p>

<%= link_to "Activate account", "TODO") %> 

<p>This link will expire in half hours.</p>

<p>
If you did not sing up for simpaticopup, please ignore this email.
</p>