%div{:class => "form-group col-lg-12", :id => "hashtags"}
  %h3 Hashtags (Up to 3)
  = text_field :pup, 'hashtag_1', :class => "form-control", :id =>"invisible_hashtag_1", :type => 'hidden'
  = text_field :pup, 'hashtag_2', :class => "form-control", :id =>"invisible_hashtag_2", :type => 'hidden'
  = text_field :pup, 'hashtag_3', :class => "form-control", :id =>"invisible_hashtag_3", :type => 'hidden'