
<div class="content" id = "log_in">
   <div class="title">Log in</div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="field">
      <%= f.email_field :email,placeholder: "E-mail", autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, placeholder: "Password",autocomplete: "off" %>
    </div>
    
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <input type="checkbox" id="rememberMe"/>
        <label for="rememberMe"></label><span id = rememberMe_box>remember me</span>
      </div>
    <% end -%>
    
    <div class="buttons">
      <%= render "devise/shared/links" %>
    </div>
    
    <button>Log in</button>
  <% end %>
</div>


