/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./non_active_admin
 *= require thredded
 *= require font-awesome
 *= require jquery-ui
 */
 
 /*bootstrap using online cdn provided*/

#background {
    background-size: cover;
}

body {
    -webkit-transition: background-image 1.5s ease-in;
    transition: background-image 1.5s ease-in;
    background-attachment: fixed;
}

.warning {
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 300;
}

.homepage-header {
    /*-webkit-border-radius: 0;
    -moz-border-radius: 0;*/
    border: none;
    text-align: center;
}

.homepage-button {
    /*-webkit-border-radius: 0;
    -moz-border-radius: 0;*/
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    background: #000000;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
}

.homepage-button:hover {
    background: #308ef2;
    text-decoration: none;
}

.button-positioning {
    text-align: center;
}

.homepage-div {
    margin-left: auto;
    margin-right: auto;
}

[class*= 'col-'] {
    float: left;
    padding-right: 20px;
}

.col-1-3 {
    width: 32%;
    border: solid black;
    border-width: 1px;
    padding: 10px 10px 10px 10px;
    margin: 0 5px 0 5px;
    background: #c8e1fa
}

#rate-btn {
    background-color: red !important;
    margin-top: 110px;
}

#breed-btn {
    margin-top: 40px;
}

#breeder-btn {
    margin-top: 85px;
}

.find_pup{
    position: relative;
    height: 600px;
    text-align: center;
}
.box-move {
    margin-top: -100px;
}
.featured-comment{
    background-color: white;
    opacity: 0.6;
    width: 100%;
    text-align: center;
    color: black;
    padding-bottom: 5%;
}
    
.ads{
    position: relative;
    background-color: white;
    opacity: 0.8;
    height: 150px;
    text-align: center;
    color: black;
}

.section, .summary {
    display: block;
}
.section.comment-of-the-day .header .h2 {
    font-size: 36px;
    line-height: 54px;
    color: #4b5c66;
    text-align: center;
}
.main-button {
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    width: 150px;
    height: 100px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 25px;
}
.ad-box-a {
    background-image: url(/assets/Amazon_Prime_logo.jpg); 
    background-size: contain;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*border: 1px solid #ccc;*/
    width: 100%;
    height: 80px;
}

.ad-box-b {
    background-image: url(/assets/google_logo.jpg); 
    background-size: contain;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*border: 1px solid #ccc;*/
    width: 100%;
    height: 80px;
}
.ad-box-c {
    background-image: url(/assets/intel_logo.png); 
    background-size: contain;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*border: 1px solid #ccc;*/
    width: 100%;
    height: 60px;
    
}
.back-home-button{
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ccc;
    
    margin-right: 50px;
    margin-bottom: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 350px;
    height: 60px;
    border-radius: 4px;
    float: right; 
}

.main-button:hover {
    color: #333;
    border: 1px solid #888;
    cursor: pointer;
}

.main-button-small-text {
    font-size: 16px;
    margin-top: 10px;
}

.main-button-large-text {
    font-size: 28px;
}

#titleline {
    margin: 50px;
    text-align: center;
}
#tagline-text {
    margin: 50px;
    text-align:center;
}
.tagline {
    margin: 40px 100px 100px 100px;
    text-align: center;
}
.missiontitle {
    margin: 0;
    text-align: left;
    /*font-size: 24px; */
    /*font-weight: bold;*/
}

/*cancel-a, #cancel-b, #cancel-c {*/
    /*float: right;*/
    /*cursor: pointer;*/
/*}*/

.cancel {
    text-align: center !important;
}

.cancel, .cancel:hover {
    text-decoration: none;
}

.paw {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #bbb;
}
.paw i {
    padding: 3px;
}

.paw .first {
    color: #3399FF
}

.hashtag {
    border: 1px solid gray;
    background: gray;
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    margin: 3px 3px 3px 3px;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;

}

.hashtag_results {
    border: 1px solid gray;
    background: gray;
    color: white;
    padding: 4px 4px 4px 4px;
    border-radius: 8px;
    margin: 3px 3px 3px 3px;
    display: inline-block;
    text-decoration: none;
    font-weight: 200;
    font-size: 12px;

}

.hashtag:hover {
    background: #3399FF;
    border: 1px solid #3399FF;
    color: white;
    text-decoration: none;

}

.hashtag_selected {
    background: #246BB2;
    border: 1px solid #246BB2;
    text-decoration: none;
}

/*MISSION STATEMENT CSS*/

.mission {
    background: white;
    opacity: 0.95;
    width: 100%;
    padding-bottom: 50px;
}

.subsection-tagline {
    margin: 50px 0 40px 0;
    font-size: 28px;
}

.mission-text {
    padding: 0 40px 0 40px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: normal; 
    font-size: 25px;
    /*color:#337ab7;*/
}

h3.mission-text {
    text-indent: 0;
    font-size: 16px;
}




/* Terms of Service and Privacy Policy  */

.para {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.para li {
    list-style: none;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.para .sub-list li {
    list-style: none;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.para .address-div {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-list .sub-list-content {
    margin-left: 80px;
}

.sub-list .sub-list-tag {
    float: left;
    width: 40px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paw-custom-color i {
    color: rgb(187, 187, 187);
}

.breeders-list .form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-links {
    padding-top: 80px;
    margin: auto;
    text-align: center;
}




/*Iter 1-2*/
/**************************************full img background**********/
html,
body,
.view {
    height: 100%;
}


.view {
    background: url("/assets/Refresh every 4s.gif")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    

/************************************/

/*Mobile friendly */

@media only screen 
    and (max-device-width: 767px) {
      
    .contact-text-sm {
        color: white;
        font-size: 6px;
        text-align: center;
    }
    
    #titleline{
        font-size: 150%;
    }
    
    #tagline-text {
        font-size: 135%;
    }
    
}
    
/* For iPhone 6 size mobile phone */
@media only screen
    and (max-device-height: 700px)
    and (max-device-width: 500px)
    and (min-device-height: 570px){
        
    .navbar .navbar-text {
    margin-left: 15px;
    }
    
    .main-button {
        color: #337ab7;
        background-color: #fff;
        border: 1px solid #ccc;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 15px;
        width:100px;
        height:60px;
        margin-left: 30px
    }
    
    .main-button-small-text {
        font-size: 10px;
    }

    .main-button-large-text {
        font-size: 20px;
    }
    
    .tagline {
        margin:40px 0 -90px 0;
        text-align: center;
    }
    
   .featured-comment {
        background-color: white;
        opacity: 0.6;
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: black;
    }
}
    
/* For iPhone 6P size mobile phone */
@media only screen
    and (max-device-height: 736px )
    and (max-device-width: 414px)
    and (min-device-height: 680px){
        
    .tagline {
        margin:40px 0 -20px 0;
        text-align: center;
    }
    
    .main-button {
        margin-left: 10px
    }
}


/* For iPhone 5 size mobile */
@media only screen
    and (max-device-height:570px)
    and (max-device-width: 320px) {
        
    .navbar .navbar-text {
    margin-left: 15px;
    }
    
    .main-button {
        color: #337ab7;
        background-color: #fff;
        border: 1px solid #ccc;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 15px;
        width:100px;
        height:50px;
        margin-left: 15px
    }
    
    .main-button-small-text {
        font-size: 10px;
    }

    .main-button-large-text {
        font-size: 20px;
    }
    
    .tagline {
        margin:20px 0 -90px 0;
        text-align: center;
    }
    
   .featured-comment {
        background-color: white;
        opacity: 0.6;
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: black;
    }
        
}

/*End for Iter 1-2*/


/*CONTACT INFO CSS*/

.contact {
    background: #337ab7;
    opacity: 1.0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

#contact-link {
    color: white;
    text-decoration: underline;
}

.contact-link {
    color: #f5f5f5;
}

.contact-text-sm {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

.contact-text-lg {
    color: white;
    text-align: center;
    font-size: 28px;
}

.text-container {
    margin-bottom: 50px;
}

.container-main {
    margin-top: 80px;
}
/***********************log in and singup***********************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: black;
  background-image: url("/assets/pup6d2.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 540px;
  height: 440px;
  background-color: rgba(10, 10, 10, 0.4);
  margin: auto auto;
  padding: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
#singup{
    height: 640px;
}
.content .title {
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 600;
  padding-bottom: 30px;
}
.content input {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Open Sans";
  margin: 10px 0px;
  border: none;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.content input[type=checkbox] {
  display: none;
}
.content label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  top: 5px;
}
.content label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: white;
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
.content input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: Black;
  text-align: center;
  line-height: 20px;
}
.content span {
  font-size: 1.7rem;
  color: white;
}
.content button {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px 0px;
  background-color: #66A756;
  color: White;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#login_login {
    background-color: blue;
}
.content .social {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.content .social span {
  display: inline-block;
  vertical-align: baseline;
  padding: 0 20px;
}
.content .social span:before, .content .social span:after {
  content: '';
  display: block;
  width: 500px;
  position: absolute;
  top: 0.9em;
  border-top: 1px solid White;
}
.content .social span:before {
  right: 75%;
}
.content .social span:after {
  left: 75%;
}
.content .buttons {
  width: 100%;
  margin: 30px 0px;
  
}
.content .buttons button {
  float: left;
  width: 30%;
  margin: 0px 1.5%;
}


.content .buttons:after {
  content: "";
  display: block;
  clear: both;
}
.content .already {
  text-align: center;
  font-size: 0.9rem;
}
#buttons_link {
    color: white;
}

.edit_account .title {
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
  margin-top: 10px;
}

.edit_account {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.edit_account h3 {
  display: block;
  font-size: 1.5em;
  padding-bottom: 8px;
  margin-bottom: 16px;
  margin-top: 0;
  border-bottom: 1px #e1e4e8 solid;
}

.edit_account #error_explanation {
  
}

.edit_account .button {
  margin-right: 8px;
  border: 1px solid #d1d5da;
  border-radius: 0.25em;
  padding: 6px 12px;
  background-color: white;
  font-weight: 500;
}

.edit_account .sub_part h3 {
  padding: 30px 0 10px 0;;
}

.field .password_input {
    width: 60%;
    margin: 5px 0 5px 0;
    border: 1px solid #d1d5da;
    padding: 5px;
    border-radius: 4px;
    background-color: #fafbfc;
}

/*****************************************************************************/

