%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1= @mission_text.title
    .col-md-2
    .text-content.col-md-8
      = simple_format @mission_text.body
    .col-md-2
  %center
    .col-md-5
    %a{:class => "btn btn-primary col-md-2", :href => root_path}
      Go Back to Home Page
    .col-md-5
