%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1 TERMS OF SERVICE
    %div.text-content
      -#= simple_format @goals_text.body
      Last Modified: July 28, 2016
      %div{:class => "para"}
        %h4 1. Scope of Agreement.
        %li
          %strong 1.1. Terms of Service.
          These terms of service (
          %strong “Terms of Service”
          ) govern the access and use of the website www.simpaticopup.com, and affiliated websites, features, services, mobile applications, products, software and other services, or any portion thereof ( collectively, the
          %strong “Service”
          ), owned or controlled by SimpaticoPup, or its affiliated companies (
          %strong “SimpaticoPup”
          or
          %strong “we”
          or
          %strong “our”
          or
          %strong “us”
          ). Affiliated companies are entities that control, are controlled by or are under common control with SimpaticoPup.
        %li
          %strong 1.2. Privacy Policy.
          For information about how SimpaticoPup collects, uses, and shares your information, please review our privacy policy (
          %strong “Privacy Policy”
          ), which can be found at www.simpaticopup.com/privacy, and is incorporated herein by reference. You agree that by using the Service you consent to the collection, use, and sharing (as set forth in the Privacy Policy) of such information, including the transfer of this information to the United States and/or other countries for storage, processing, and use by SimpaticoPup.
        %li
          %strong 1.3. Agreement.
          These Terms of Service, the Privacy Policy, and any other legal notices published by us on the Service are, collectively, an agreement ( this
          %strong “Agreement”
          ) between SimpaticoPup and you (
          %strong “You”
          or
          %strong “your”
          or
          %strong “you”
          or a
          %strong “User”
          or
          %strong “Instructor”
          or
          %strong “Participant”
          ), a user of the Service. By accessing or using the Service you acknowledge and agree to this Agreement, including, without limitation, these Terms of Service and the Privacy Policy. If you choose to not agree with any of the terms of this Agreement, including, without limitation, these Terms of Service or the Privacy Policy, you may not use the Service.
      %div{:class => "para"}
        %h4 2. Intellectual Property.
        %li
          %strong 2.1. Ownership of Marks and IP.
          The design, trademarks, service marks, and logos of SimpaticoPup and the Service (
          %strong “SimpaticoPup Marks”
          ), are owned by or licensed to SimpaticoPup, subject to copyright and other intellectual property rights under United States, foreign laws and international conventions. Except as otherwise indicated, all copyright rights and other intellectual property rights in the Service and its contents, including any and all SimpaticoPup Marks, content, data, databases, information, text, music, sound, photos, images, graphics, audio, video, software, code, technology, methods, analyses, studies, reports, and other intellectual property contained therein (
          %strong “SimpaticoPup IP”
          ) are owned by or licensed to SimpaticoPup, and protected by law, including copyright, database, trade secret, and trademark laws of the United States and all applicable jurisdictions, as well as other applicable state, national, and international laws and regulations.
        %li
          %strong 2.2. License.
          During the term of this Agreement, SimpaticoPup grants you a limited, non-exclusive, non-transferable license to access the Service for your personal and non-commercial use in accordance with these Terms of Service. SimpaticoPup reserves all rights not expressly granted in and to the Service. You agree to not engage in the use, copying, or distribution of any of the Service, or any portion thereof, other than as expressly permitted.
      %div{:class => "para"}
        %h4 3. Your Account.
        %li
          %strong 3.1. Account Registration.
          If you choose to register for an account, you must complete the account registration process by providing us with current, complete, and accurate information as prompted by the applicable registration form. You agree to register only once using a single account. You agree you will not (i) register on behalf of another person; (ii) register under the name of another person or under a fictional name or alias; (iii) choose a username that constitutes or suggests an impersonation of any other person (real or fictitious) or entity or that you are a representative of an entity when you are not, or that is offensive; (iv) choose a username for the purposes of deceiving or misleading our users and/or the SimpaticoPup as to your true identity; or (v) choose a username that incorporates a solicitation.
        %li
          %strong 3.2. Account Information.
          You are entirely responsible for maintaining the confidentiality of your password and account. Furthermore, you are entirely responsible for any and all activities that occur under your account. You should notify us immediately of any known or suspected unauthorized use of your username and password or any other breach of security. SimpaticoPup will not be liable for any loss that you may incur as a result of someone else using your username, password, or account, either with or without your knowledge. You could be held liable for losses incurred by SimpaticoPup or another party due to someone else using your username, password, or account. You may not use anyone else’s account at any time, without the permission of the account holder. Your account is unique to you and may not be transferred to any third party.
        %li
          %strong 3.3. Account Security.
          SimpaticoPup cares about the integrity and security of your account information. However, SimpaticoPup cannot guarantee that unauthorized third parties will never be able to defeat the Service’s security measures or use any personal information you provide to us for improper purposes. You acknowledge that you provide your account information at your own risk.
      %div{:class => "para"}
        %h4 4. User Content and Conduct.
        %li
          %strong 4.1. User Content.
          As a user with a registered account, you may be able to submit content to the Service, including videos, photos, images, audio, text, information (including, without limitation, Personally Identifiable Information), user comments, and any other content ( collectively,
          %strong “User Content”
          ). You shall be solely responsible for your own User Content and the consequences of submitting and publishing your User Content on the Service. You further agree that you will not submit to the Service any User Content or other material that is contrary to these Terms of Service or contrary to applicable local, national, and international laws and regulations.
        %li
          %strong 4.2. Representations.
          You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish User Content you submit. You further agree that User Content you submit to the Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant us all of the license rights granted herein. We do not permit copyright infringing activities and infringement of intellectual property rights on the Service, and we will remove all User Content if properly notified that such User Content infringes on another’s intellectual property rights. We reserve the right to remove User Content without prior notice. By using the Service and the Community Services, you expressly agree not to use, reproduce, modify, adapt, edit, translate, publicly display, telecommunicate or perform, post, upload to, transmit, distribute, store, create derivative works from or otherwise publish throughout the world, in any media, now known or hereafter devised, on or through the Service any of the following:
        %div{:class => "sub-list"}
          %li
            .sub-list-tag (a)
            .sub-list-content User Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, foreign, national or international law, including, without limitation, the regulations of the U.S. Securities and Exchange Commission;
          %li
            .sub-list-tag (b)
            .sub-list-content User Content that is indecent, profane (including masked profanity where symbols, initials, intentional misspellings or other characters are used to suggest profane language), obscene, pornographic, abusive, inflammatory, untrue, misleading, illegal, invasive of privacy or publicity rights, libelous, slanderous or defamatory. We do not tolerate users harassing, threatening or embarrassing other users, including harassment or denigration based on age, gender, race, religion, national origin, sexual orientation or disability, marital status or veteran status, or the stalking of other users;
          %li
            .sub-list-tag (c)
            .sub-list-content User Content that contains any confidential or proprietary information of any person or entity, or that otherwise violates the legal rights of any person or entity. You may not include in any User Content either any email addresses or telephone numbers of any person or entity, including your own. You may not use a false email address, impersonate any person or entity (including any other user), or otherwise mislead as to the origin of your User Content;
          %li
            .sub-list-tag (d)
            .sub-list-content User Content that is unrelated to the topic of the Community Services in which such Content is posted, or that, in the sole judgment of SimpaticoPup, contravenes the above, is otherwise objectionable or inappropriate, or which restricts or inhibits any other person from using or enjoying the Service, or which may expose SimpaticoPup or its affiliates or its users to any harm or liability of any type.
        %li
          %strong 4.3. Rights and License.
          You retain all of your ownership rights in your User Content. However, by submitting User Content to the Service, you hereby grant SimpaticoPup a worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the User Content in connection with the Service and SimpaticoPup’s (and its successors’ and affiliates’) business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels (including for advertising or other commercial use). If we publish your User Content or authorize or license others to do so, your User Content may be edited for length, format, clarity or for any other reason either before or after it is published. You also hereby grant each user of the Service a non-exclusive license to access your User Content through the Service, and to use, reproduce, distribute, display and perform such User Content as permitted through the functionality of the Service and under these Terms of Service. The above licenses granted by you in User Content you submit to the Service terminate within a commercially reasonable time after you remove your User Content from the Service. You understand and agree, however, that we may retain, but not display, distribute, or perform, server copies of your User Content that have been removed. The above licenses granted by you in user comments you submit are perpetual and irrevocable.
        %li
          %strong 4.4. User Conduct.
          As a condition of your use of and access to the Service, you agree not to use the Service for any unlawful purpose or in any way that violates these Terms. Any use of the Service or Community Services in violation of these Terms of Service and may result in, among other things, termination or suspension of your account and your ability to use the Service or Community Services.  You may not engage in any of the following prohibited activities:
        %div{:class => "sub-list"}
          %li
            .sub-list-tag (a)
            .sub-list-content Copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated “scraping”; collecting or harvesting any personally identifiable information, including account names, from the Service; altering, modifying or creating derivative works of the Service, or any portion thereof;
          %li
            .sub-list-tag (b)
            .sub-list-content Using any automated system, including without limitation “robots,” “spiders,” “offline readers,” etc., to access the Service; accessing any content or features of the Service through any technology or means other than those provided or authorized by the Service;
          %li
            .sub-list-tag (c)
            .sub-list-content Transmitting spam, chain letters, or other unsolicited email; using the Service for any commercial solicitation purpose or political campaigning;
          %li
            .sub-list-tag (d)
            .sub-list-content Attempting to interfere with, compromise the system integrity or security, or decipher any transmissions to or from the servers running the Service; uploading invalid data, viruses, worms, or other software agents through the Service; bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or features or enforce limitations on use of the Service or the content or features therein;
          %li
            .sub-list-tag (e)
            .sub-list-content Taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on Service infrastructure; interfering with the proper working of the Service;
          %li
            .sub-list-tag (f)
            .sub-list-content Impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; or
          %li
            .sub-list-tag (g)
            .sub-list-content Disrupting the normal flow of dialogue, causes a screen to “scroll” faster than other Users are able to type, or otherwise negatively affects other Users’ ability to engage in real time exchanges.
          %li
            .sub-list-tag (h)
            .sub-list-content The Service is for personal use only. Users may not use the Service or any content contained in the Service (including, but not limited to, content of other users, designs, text, graphics, images, video, information, logos, software, audio files and computer code) in connection with any commercial endeavors, such as (i) advertising or soliciting any user to buy or sell any products or services not offered by SimpaticoPup or (ii) soliciting others to attend parties or other social functions, or networking, for commercial purposes. Users of the Service may not use any information obtained from the Service to contact, advertise to, solicit, or sell to any other user without his or her prior explicit consent. Organizations, companies, and/or businesses may not use the Service or the Service for any purpose except with SimpaticoPup’s express consent (such as for promoted profiles or other advertisements), which SimpaticoPup may provide or deny in its sole discretion. SimpaticoPup may investigate and take any available legal action in response to illegal and/or unauthorized uses of the Service, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email and unauthorized framing of or linking to the Service.
      %div{:class => "para"}
        %h4 5. The Service and Storage.
        %li
          %strong 5.1. Informational Purposes Only. 
          The Service is for informational purposes only and is not intended to substitute for professional medical advice, diagnosis, or treatment regarding memory or treatment. You should seek the advice of a physician or other qualified health provider with whom you have such a relationship if you have questions regarding any medical condition or if you are experiencing any symptoms of or believe you may have any medical condition.
        %li
          %strong 5.2. Not Responsible for Storing User Content.
          You are solely responsible for maintaining appropriate security, protection and backup copies of your User Content and data. As set forth in Section 10 of these Terms of Service, below, SimpaticoPup has no liability of any kind as a result of the deletion of, correction of, destruction of, damage to, loss of or failure to store or encrypt any User Content, content or data.
      %div{:class => "para"}
        %h4 6. Copyright Policy.
        %li
          %strong 6.1. Copyright Agent.
          SimpaticoPup respects the intellectual property rights of others and expects users of the Service to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to our designated copyright agent (“Copyright Agent”). Our designated Copyright Agent to receive notifications of claimed infringement is:
        %div{:class => "address-div"}
          .address SimpaticoPup
          .address c/o Northpointe Veterinary Hospital
          .address Attn: Dr. Sanders
          .address 1463 Live Oak Blvd
          .address Yuba City, CA 95991
          .address simpaticopup@gmail.com
        %li For clarity, only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for technical support, and other communications should be directed to simpaticopup@gmail.com. You acknowledge that if you fail to comply with all of the requirements of this Section, your DMCA notice may not be valid.
        %li
          %strong 6.2. Claims of Infringement.
          If you are a copyright owner or an agent thereof and believe that any Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (
          %strong “DMCA”
          ) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail): A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the service provider to locate the material; Information reasonably sufficient to permit SimpaticoPup to contact you, such as an address, telephone number, and, if available, an electronic mail; A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
        %li
          %strong 6.3. Counter-Notice.
          If you believe that your content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner’s agent, or pursuant to the law, to post and use the material in your content, you may send a counter-notice containing the following information to our Copyright Agent: Your physical or electronic signature; Identification of the content that has been removed or to which access has been disabled and the location at which the content appeared before it was removed or disabled; A statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a misidentification of the content; and If a counter-notice is received by our Copyright Agent, we may send a copy of the counter-notice to the original complaining party informing that person that he or she may replace the removed content or cease disabling it in ten (10) business days. Unless the copyright owner files an action seeking a court order against the content provider, or user, the removed content may be replaced, or access to it restored, in ten (10) to fourteen (14) business days or more after receipt of the counter-notice, at our sole discretion.
      %div{:class => "para"}
        %h4 7. Third Parties.
        %li
          %strong 7.1. Third Party Links.
          The Service may contain links to third-party advertisers, websites or services. You acknowledge and agree that SimpaticoPup is not responsible or liable for: (i) the availability or accuracy of such advertisements, websites or services, or (ii) the content, products, or resources on or available from such advertisers, websites or services. Links to such advertisers, websites or services do not imply any endorsement by SimpaticoPup of those websites or services. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or services.
        %li
          %strong 7.2. Third Party Content.
          Through the Service, you will have the ability to access and/or use content provided by third parties. SimpaticoPup cannot guarantee that such third party content will be free of material you may find objectionable or otherwise. SimpaticoPup disclaims any responsibility or liability related to your access or use of any third party content.
        %li
          %strong 7.3. Third Party Promotions.
          Some third parties may promote sweepstakes, competitions, promotions, and other similar opportunities on the Service (
          %strong “Third Party Promotions”
          ). SimpaticoPup is not the sponsor or promoter of these Third Party Promotions and does not bear any responsibility or liability for the actions or inactions of any third parties who organize, administer or are otherwise involved in any of promotion of these Third Party Promotions. If you wish to participate in any of these Third Party Promotions, you are responsible for reading and ensuring that you understand the applicable rules and any eligibility requirements and are lawfully able to participate in such Third Party Promotions in your jurisdiction.
        %li
          %strong 7.4. Social Media Networks.
          The Service may include features that connect to third party social media networks (
          %strong “Social Media Networks”
          ) and allow you to share or like content or services with your friends or other users of the Social Media Networks, or you may be able to connect your user account with your Social Media Networks’ accounts.  To learn more about how your information may be shared with Social Media Networks or how your Social Media Networks’ account information may be shared with us, please read our Privacy Policy and the privacy policy or settings of the relevant Social Media Networks.
      %div{:class => "para"}
        %h4 8. Fees, Payments and Changes.
        %li
          %strong 8.1. Fees.
          We reserve the right at any time to charge fees for access to the Service, or any portion thereof. However, in no event will you be charged for access to the Service unless we obtain your prior agreement to pay such charges. You may cancel your account at any time. You agree to pay all charges that may be incurred by you or on your behalf through the Service, at the price(s) in effect when such charges are incurred, including all shipping and handling charges. In addition, you remain responsible for any and all taxes that may be applicable to your purchase(s), and you agree that such taxes, if any, are not our responsibility. There shall be no refunds at any time.
        %li
          %strong 8.2. Payments.
          If products, subscriptions, software, or services are made available for purchase through the Service and you wish to purchase such products, subscriptions, software, or services, you may be asked by us or our designee (or, if such product, subscriptions, software, or services are being made available by a third party provider, by such third party provider) to supply certain information relevant to your purchase, including, without limitation, credit card number, expiration date, billing address and shipping information. YOU REPRESENT AND WARRANT THAT YOU HAVE THE LEGAL RIGHT TO USE ANY CREDIT CARD(S) OR OTHER PAYMENT MEANS USED BY YOU OR THROUGH YOUR USERNAME(S) TO PURCHASE ANY SUCH PRODUCT AND/OR SERVICE. You acknowledge that any such information will be treated by us in accordance with our Privacy Policy. You grant us the right to provide such information to third parties in order to facilitate the completion of transactions initiated by you or on your behalf through the Service. Verification of information may be required prior to acceptance of any order through the Service.
        %li
          %strong 8.3. Changes.
          We reserve the right, with or without prior notice, to: change descriptions or references to products, subscriptions, software or services; limit the available quantity of any products, subscriptions, software, or services; honor, or refuse to honor, any coupon, coupon code, promotional code or other similar promotions (collectively, the “Rewards Program”); and/or refuse to provide any user of the Service with any products, subscriptions, software or services. We may modify the Rewards Program, any points, or the terms that govern their usage, at our sole discretion, and such modifications may make the Rewards Program points more or less common, valuable, effective, or functional.
      %div{:class => "para"}
        %h4 9. Mobile Services and App Stores.
        %li
          %strong 9.1. “Mobile Services”
          means certain software and services that are available via a mobile device, including (i) the ability to upload data to the Service via a mobile device, (ii) the ability to use the Service from a mobile device, and (iii) the ability to access certain features through an application downloaded and installed on a mobile device.
        %li
          %strong 9.2. Wireless Carriers.
          To the extent you access the Mobile Services through a mobile device, your wireless carrier’s standard charges, data rates and other fees may apply. In addition, downloading, installing, or using certain Mobile Services may be prohibited or restricted by your carrier, and not all Mobile Services may work with all carriers or devices.
        %li
          %strong 9.3. Notifications and Messages.
          By using the Mobile Services, you agree that we may communicate with you regarding SimpaticoPup and other entities by SMS, MMS, text message or other electronic means to your mobile device for the purpose of providing the applicable service and that certain information about your usage of the Mobile Services may be communicated to us. In the event you change or deactivate your mobile telephone number, you agree to promptly update your SimpaticoPup account information to ensure that your messages are not sent to the person that acquires your old number. In the event that you fail to comply with the obligation to promptly update your SimpaticoPup account information when changing or deactivating your mobile telephone number, you accept full responsibility for any of your messages, which may not be delivered or may be sent to the person that acquires your old number.
      %div{:class => "para"}
        %h4 10. Disclaimers and Disclosures.
        %li
          %strong 10.1. Disclaimers.
          We do not endorse any User Content submitted to the Service by any user or other licensor, or any opinion, recommendation, or advice expressed therein, and we expressly disclaim any and all liability in connection with User Content. SimpaticoPup takes no responsibility and assumes no liability for any User Content posted, stored or uploaded by you or any third party, or for any loss or damage thereto or in connection therewith, nor is SimpaticoPup liable for any mistakes, inaccuracies, infringements, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter. As a provider of interactive services, SimpaticoPup is not liable for any statements, representations or User Content provided by its users. Although SimpaticoPup has no obligation to screen, edit or monitor any of the User Content posted to or distributed through the Service, SimpaticoPup reserves the right, and has absolute discretion, to remove, screen or edit without notice any User Content posted or stored on the Service at any time and for any reason and without liability to you or any third party, and you are solely responsible for creating backup copies of and replacing any User Content you post or store on the Service at your sole cost and expense. However, we also reserve the right in our sole discretion to display any User Content that is submitted to us (or to decline to remove any User Content), even if it violates this Agreement.  Since not all of the areas of the Service are monitored on a “real time” basis, you may see User Content that violates this Agreement before we do. Please report such items to simpaticopup@gmail.com.
        %li
          %strong 10.2. Disclosures.
          In order to cooperate with legitimate governmental requests, subpoenas or court orders, to protect SimpaticoPup’s systems and users, or to ensure the integrity and operation of SimpaticoPup’s business and systems, SimpaticoPup may access and disclose any information it considers necessary or appropriate, including, without limitation, account information (i.e. name, email address, etc.), IP addressing and traffic information, usage history, and posted User Content. SimpaticoPup’s right to disclose any such information, as applicable, shall be pursuant to the terms of SimpaticoPup’s Privacy Policy. Please see SimpaticoPup’s Privacy Policy for the terms of our personal information collection and use practices with respect to the Service.
      %div{:class => "para"}
        %h4 11. Termination, Suspension, and Restrictions, and Survival of Terms.
        %li
          %strong 11.1. Termination, Suspension, and Restrictions.
          SimpaticoPup may terminate or suspend your access to or ability to use the Service immediately, without prior notice or liability, for any reason or no reason, including breach of this Agreement. In particular, SimpaticoPup may immediately terminate or suspend accounts that have been flagged for repeat copyright infringement. Upon termination of your access to or ability to use the Service, your right to use or access the Service will immediately cease. SimpaticoPup may change, restrict access to, suspend, or discontinue any aspect of the Service at any time, including availability of any feature, database, or content. SimpaticoPup may also impose limits on certain features and services or restrict your access to all or parts of the Service without notice or liability.
        %li
          %strong 11.2. Survival of Terms.
          This Agreement’s terms and conditions that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, and limitations of liability. Termination of your access to and use of the Service shall not relieve you of any obligations arising or accruing prior to termination or limit any liability that you otherwise may have to SimpaticoPup or any third party.
      %div{:class => "para"}
        %strong 12. Disclaimers.
        YOU EXPRESSLY AGREE THAT USE OF THE SERVICE (INCLUDING, WITHOUT LIMITATION, MOBILE SERVICES), IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, COMPANY, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. COMPANY DOES NOT WARRANT THAT THE SERVICE WILL MEET YOUR REQUIREMENTS, OR THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED OR THAT SERVICE OR THE SERVERS THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES OR ANY OTHER HARMFUL COMPONENTS. COMPANY DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE CONTENT OR DATA ON THE SERVICE, WITH RESPECT TO THEIR CORRECTNESS, ACCURACY, RELIABILITY OR OTHERWISE, OR THAT YOUR USER CONTENT OR DATA WILL BE ACCESSIBLE OR FREE FROM LOSS OR DAMAGE. COMPANY DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCTS, OR SERVICES ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SERVICE OR ANY HYPERLINKED SERVICES OR FEATURED IN ANY OTHER ADVERTISING, AND COMPANY WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF PRODUCTS OR SERVICES THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.
      %div{:class => "para"}
        %strong 13. Limitations of Liability.
        IN NO EVENT SHALL COMPANY, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM YOUR USE OF THE SERVICE (INCLUDING, WITHOUT LIMITATION, MOBILE SERVICES), OR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT OR DATA, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SERVICE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICE, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH THE SERVICE BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR DATA OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICE, OR ANY LACK OF ACCESSIBILITY, LOSS OR DAMAGE TO USER CONTENT OR DATA POSTED, UPLOADED OR TRANSMITTED VIA THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. YOU SPECIFICALLY ACKNOWLEDGE THAT COMPANY SHALL NOT BE LIABLE FOR USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU. IN NO EVENT WILL COMPANY’S TOTAL AGGREGATE LIABILITY TO YOU UNDER THIS AGREEMENT EXCEED THE AMOUNT PAID BY YOU TO USE THE SERVICE.
      %div{:class => "para"}
        %strong 14. Indemnification.
        To the extent permitted by applicable law, you agree to defend, indemnify and hold harmless SimpaticoPup, its parent corporation, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of and access to the Service (including, without limitation, Mobile Services); (ii) your violation of any term of this Agreement; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that your User Content caused damage to a user or third party. SimpaticoPup may assume the exclusive defense and control of any matter for which users have agreed to indemnify SimpaticoPup and you agree to assist and cooperate with SimpaticoPup in the defense or settlement of any such matters. This defense and indemnification obligation will survive the termination of this Agreement and your use of the Service.
      %div{:class => "para"}
        %h4 15. Dispute Resolution.
        %li
          %strong 15.1. Mandatory Arbitration.
          For any dispute you have with SimpaticoPup, you agree to first contact SimpaticoPup and attempt to resolve the dispute informally. If SimpaticoPup has not been able to resolve the dispute with you informally, we each agree to resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to this Agreement by binding arbitration by the American Arbitration Association (
          %strong “AAA”
          ) under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for the AAA, except as provided herein. The arbitration will be conducted in San Francisco, California, in the United States. Each party will be responsible for paying any AAA filing, administrative and arbitrator fees in accordance with AAA rules. The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys’ fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. This arbitration agreement survives the termination of this Agreement between you and SimpaticoPup.
        %li
          %strong 15.2. Waivers of Class Action and Trial by Jury.
          You and SimpaticoPup both waive any right to participate in any class action involving disputes between us, and you and SimpaticoPup are each waiving the right to a trial by jury. All claims must be brought in the parties’ individual capacity, and not as a plaintiff or class member in any purported class or representative proceeding, and, unless we agree otherwise, the arbitrator may not consolidate more than one person’s claims. This class action waiver is an essential part of our arbitration agreement and may not be severed. If for any reason this class action waiver is found unenforceable, then the entire arbitration agreement will not apply. However, the waiver of the right to trial by jury set forth in this Section will remain in full force and effect.
        %li
          %strong 15.3. Other Remedies.
          Notwithstanding the foregoing, either party may bring an individual action in small claims court. Nothing in this Section precludes you from bringing issues to the attention of federal, state or local agencies. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to the Service.
        %li
          %strong 15.4. Time Limitations.
          YOU AND COMPANY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICE OR THIS AGREEMENT MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
      %div{:class => "para"}
        %strong 16. Children Under 13.
        The Service is a general audience service and is not intended for children under 13. We require that only persons 13 years of age or older use any of the Service. By using the Service, you hereby represent that you are at least 13 years old. To view information on our policy regarding the privacy of children under the age of 13, please see the Privacy Policy.  Parental control protections (such as computer hardware, software or filtering services) are commercially available that may assist you in limiting access to material that may be considered harmful to minors.
      %div{:class => "para"}
        %strong 17. Notice for California Users.
        Under California Civil Code Section 1789.3, California users of the online services are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 400 R Street, Suite 1080, Sacramento, California 95814, or by telephone at (916) 445-1254 or (800) 952-5210.
      %div{:class => "para"}
        %strong 18. Users From Other Jurisdictions.
        By accessing or using the Service, or submitting information, you acknowledge that you accept the practices and policies outlined in this Agreement and consent to having your data transferred to and processed in the United States. If you do not agree to the terms of this Agreement, please do not use the Service. The Service is controlled and operated by SimpaticoPup from the United States. We do not represent or warrant that the Service, or any part thereof, is appropriate or available for use in any particular jurisdiction. Those who choose to access the Service, do so on their own initiative and at their own risk, and are responsible for complying with all local laws, rules and regulations. You also are subject to United States export controls in connection with your use of the Service and are responsible for any violations of such controls, including, without limitation, any United States embargoes or other federal rules and regulations restricting exports. We may limit the availability of the Service, in whole or in part, to any person, geographic area or jurisdiction that we choose, at any time and in our sole discretion.
      %div{:class => "para"}
        %strong 19. General.
        This Agreement shall be governed by the internal substantive laws of the State of California, without respect to its conflict of laws principles. This Agreement, including, without limitation, these Terms of Service, together with the Privacy Policy and any other legal notices published by us on the Service, shall constitute the entire agreement between you and SimpaticoPup concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect. No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and SimpaticoPup’s failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision. We reserve the right to amend this Agreement, including, without limitation, these Terms of Service and the Privacy Policy, at any time and without notice, and it is your responsibility to review this Agreement, including, without limitation, these Terms of Service and the Privacy Policy for any changes. This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by SimpaticoPup without restriction. Your use of the Service following any amendment of this Agreement will signify your assent to and acceptance of its revised terms.
      %div{:class => "para"}
        %strong 20. Contact Information.
        If you have any questions, feedback or to report a violation regarding these Terms of Service, you may email us at simpaticopup@gmail.com or contact us by mail addressed to:
        %div{:class => "address-div"}
          .address SimpaticoPup
          .address c/o Northpointe Veterinary Hospital
          .address Attn: Dr. Sanders
          .address 1463 Live Oak Blvd
          .address Yuba City, CA 95991

