/ = label :pup, :pup_name, title
/ = text_field :pup, var, :class => "form-control", :placeholder => placeholder
= label :feedback, var, title
%div{:class => "explanation"} #{explanation}
= text_field :feedback, var, :class => "form-control", :style => "border-color: rgb(51, 153, 255);", :placeholder => placeholder
